.page-content {
display:flex;
max-width:$site-max-width;
height:$page-content-height;
margin:0 auto;

@include desktop {
padding:$large-space $space;
}
}

.page-content__sidebar {
display: flex;
width:100vw;
transition: left .3s ease;

position:fixed;
top:0;
left:-100vw;
bottom:0;
z-index:1;

@include desktop {
display:flex;
padding-right: $large-space;
width:$page-content-sidebar-width;
}
}

.is-nav-open .page-content__sidebar {
left:0;
}

.page-content__main {
display:flex;
width:100%;

@include desktop {
width:$page-content-main-width;
}
}
